---
layout: collectionindex
title: Organiser Collection
pic: ../media/bets-dneueblatt130206.png
---

<h1>Welcome to the organiser collection!</h1>
<p><span class="information">Here, you can click through collection content.</span></p>
<div class="grid-item" id="exhibit-image"><img src="../media/IMG_20210624_121654_long.jpg" class="img-fluid" alt="Judges at the Ganzsteinschanze">Judges as the Ganzsteinschanze ski jump. Organisers were responsible for a smooth conduction of the event. They took care of spectators, athletes and judges.</div>
{% for object in site.organiser %}
    {% include collection-button.html %}
{% endfor %}

{% include backbutton.html %}