---
layout: collectionindex
title: Spectator Collection
---

<h1>Welcome to the spectator collection!</h1>
<p><span class="information">Here, you can click through collection content.</span></p>
<div class="grid-item" id="exhibit-image"><img src="../media/bets-dneueblatt130206_long.png" class="img-fluid" alt="Spectators study the skiing track map and place bets on the winning teams">Spectators study the skiing track map and place bets on the winning teams.</div>
{% for object in site.spectator %}
    {% include collection-button.html %}
{% endfor %}

{% include backbutton.html %}