
<div class="row-collection">
    <div class="column-collection">{% assign edus = site.participant | where: "category", "class-struggle" %}
        <div class="img"><img src="../media/IMG_20210624_122209.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.spectator | where: "category", "class-struggle" %}
        <div class="img"><img src="../media/IMG_20210624_120732.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.organiser | where: "category", "class-struggle" %}
        <div class="img"><img src="../media/Dr._Julius_Deutsch.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>
</div>