<!--Button to enter the exhibition and read the instructions
<!DOCTYPE html>
<html>
<link href="../assets/button-enter.css" rel="stylesheet">
<nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-8 float-right">
          <a class="btn btn-success" href="/home">Enter the exhibition</a>
        </div>
      </div>
    </div>
  </nav>-->

  <div class="container">
    <div class="row">
        <div class="col md-12 float-right">
            <button type="button" class="btn btn-success" onclick="window.location.href='/home'">Enter the exhibition</button>
        </div>
    </div>
</div>