<!--code for creating thumbnail cards for objects. These are ordered by categories that were allocated to each text in every collection-->
<div class="row-collection">
    <div class="column-collection">{% assign edus = site.participant | where: "category", "equality" %}
        <div class="img"><img src="../media/ester_korholin_autographs_for_austrian_ice_hockey.png" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.spectator | where: "category", "equality" %}
        <div class="img"><img src="../media/IMG_20210624_123845.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.organiser | where: "category", "equality" %}
        <div class="img"><img src="../media/IMG_20210624_115728.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>
</div>