<header class="site-header" role="banner">
<!--taken from https://mdbootstrap.com/docs/standard/navigation/headers/. this header is a light colour and horizontal.
but labels for pages are not created automatically from the information given in the pages.
the meta tag ensures that the website content is scaled to device width-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<div class="p-4 bg-dark" class="container-fluid" id="header-container">
  <nav class="navbar sticky-top navbar-expand-md navbar-dark">
    <div class="container-fluid" id="top-navigation">
      <a class="navbar-brand" aria-current="page" href="/home">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/about-venue">The venue</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about-politics">The political background</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/fixtures-and-results">Fixtures and Results</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/resources">Resources</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">About & Contact</a>
          </li>
          <li class="nav-item">
            {% include language-tode.html %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
</header>
<body>
