<div class="row-collection">
    <div class="column-collection">{% assign edus = site.participant | where: "category", "international" %}
        <div class="img"><img src="../media/hungarian_team_quarters.png" class="img-thumbnail"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.spectator | where: "category", "international" %}
        <div class="img"><img src="../media/IMG_20210624_111808.jpg" class="img-thumbnail"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.organiser | where: "category", "international" %}
        <div class="img"><img src="../media/IMG_20210624_115503.jpg" class="img-thumbnail"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>
</div>