<!--code for creating thumbnail cards for objects. These are ordered by categories that were allocated to each text in every collection-->
<div class="row-collection">
    <div class="column-collection">{% assign edus = site.participant-de | where: "category", "Internationale" %}
        <div class="img"><img src="../media/hungarian_team_quarters.png" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.spectator-de | where: "category", "Internationale" %}
        <div class="img"><img src="../media/Volkssport_15-Feb-31_S2.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>

    <div class="column-collection">{% assign edus = site.organiser-de | where: "category", "Internationale" %}
        <div class="img"><img src="../media/IMG_20210624_115503.jpg" class="img-thumbnail" width="60%"></div>
        {% for object in edus %}
            <a href="{{ object.url }}">{{ object.title }}</a>
            <div class="abstract-text">{{ object.abstract }}</div>
        {% endfor %}</div>
</div>