<!--buttons lead to individual resources areas, the "pathways". They are aligned centrally-->
<!--the meta tag ensures that the website content is scaled to device width-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<nav>
    <div class="container-fluid">
      <div class="border d-flex align-items-center justify-content-center">
        <a class="btn btn-success" href="/participant-landing.html">Participant</a>
        <a class="btn btn-success" href="/spectator-landing.html"> Spectator</a>
        <a class="btn btn-success" href="/organiser-landing.html">Organiser</a>
      </div>
    </div>
</nav>