{% assign edus = site.participant | where: "category", "solidarity" %}
{% for object in edus %}
    <a href="{{ object.url }}">{{ object.title }}</a>
    <div class="abstract-text">{{ object.abstract }}</div>
{% endfor %}

{% assign edus = site.spectator | where: "category", "solidarity" %}
{% for object in edus %}
    <a href="{{ object.url }}">{{ object.title }}</a>
    <div class="abstract-text">{{ object.abstract }}</div>
{% endfor %}

{% assign edus = site.organiser | where: "category", "solidarity" %}
{% for object in edus %}
    <a href="{{ object.url }}">{{ object.title }}</a>
    <div class="abstract-text">{{ object.abstract }}</div>
{% endfor %}