.button {
    color: cadetblue;
}
/* float ensures they are on the same line, one left, one right */
.button-prevpage {
    border: 3px;
    text-align: left;
    float: left;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: rgb(91,134,123);
    padding: 5px;
}

.button-nextpage {
    border: 3px;
    text-align: right;
    float: right;
    margin-bottom: 50px;
    margin-right: 20px;
    background-color: rgb(91,134,123);
    padding: 5px;
}

.column-collection {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row-collection:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column-collection {
      width: 100%;
    }
  }