/*styling guide landing page buttons*/
.overview {
    color: whitesmoke;
    background-color: rgb(91,134,123);
    padding: 8px;
    margin-bottom: 20px;
}
/*style flexbox for previous and next buttons*/
.navmenu {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex: 3;
  flex-direction: row;
  justify-content: right;
  align-items: stretch;
  flex-wrap: wrap;
}
/* float ensures they are on the same line, one left, one right */
.button-prevpage {
    border: 3px;
    text-align: left;
    float: left;
    margin-bottom: 50px;
    margin-left: 20px;
    background-color: rgb(91,134,123);
    padding: 5px;
}
.prevbutton {
  color: aliceblue;
}

.button-nextpage {
    border: 3px;
    text-align: right;
    float: right;
    margin-bottom: 50px;
    margin-right: 20px;
    background-color: rgb(91,134,123);
    padding: 5px;
}
.nextbutton {
  color: aliceblue;
}
.overviewbutton {
  color:aliceblue;
}

.column-collection {
    float: left;
    width: 33.33%;
  }
  
  /* Clear floats after the columns */
  .row-collection:after {
    content: "";
    display: table;
    clear: both;
  }

@media screen and (max-width: 600px) {
    .column-collection {
      width: 100%;
    }
  }