nav ul {
    list-style: none;
    display: flex;
    padding-left: 0;
    justify-content: space-around;
    align-self: center;
}

/*taken from: https://www.w3schools.com/howto/howto_css_animate_buttons.asp, then added buttons on image: https://www.w3schools.com/howto/howto_css_button_on_image.asp */
.btn {
    position: relative;
    background-color: rgb(91,134,123);
    border: none;
    font-size: 1.2em;
    color: #32034d;
    padding: 15px;
    align-items: center;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }
.row:after {
  content:"";
  display: table;
  clear: both;
}