header {
    background: rgb(5, 5, 63);  
}

}
body {
    background:lightskyblue;
}
h1 {
    text-decoration: overline;
    color: maroon;
}
#title {
    color: green;
    padding: 20px;
    border: 3px black;
}

#exhibitimage {
    border: 6px solid black;
    padding: 1em;
    margin: 0.5em;
    float: right;
    height: 30em;
    width: 50em;
}

#comment {
    color: darkred;
}