.footer-heading {
    color: rgb(0,61,0);
    margin-top: 10px;
    padding: 8px;
    font-size: 1.3em;
    font-family: sans-serif;
}
p {
    padding: 8px;
    margin: 0.8rem;
    font-family: sans-serif;
}

.contact-list {
    padding-left: 5%;
    font-size: 0.9rem;
}