.top {
    background-image: linear-gradient(rgba(3, 3, 40, 0.9), rgb(3, 3, 53, 1));
    margin: auto;
    padding: 30px;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.page-heading {
    color: rgb(245, 184, 184);
    text-align: right;
}

h1 {
    font-size: 3.5em;
}

#searchbutton {
    /*position: absolute;*/
    background-color: #4b9b40;
    border: thin;
    font-size: 15px;
    color: #32034d;
    padding: auto;
    width: auto;
    align-items: center;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }