/*header {
    background: rgb(5, 5, 63);  
}*/

body {
    background:rgb(228, 222, 212);
}
.top {
    background: linear-gradient(27, 57, 88, 0);
    height: 200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.infotext {
    background-color: rgb(255, 252, 248);
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
}

#guide-category {
    color: rgb(118, 50, 63);
    padding: 0%;
}

#category {
    color: rgb(230, 163, 163);
    padding: 0%;
    font-size: 2rem;
}

.content-area {
    background-color: rgb(251, 240, 226);
}
h1 {
    /*text-decoration: overline;*/
    color: rgb(122, 21, 21);
}

p {
    font-size: 1.2rem;
    color: black;
    font-family: sans-serif;
}
#title {
    color: rgb(86, 86, 86);
    padding: 20px;
    font-weight: 700;
    font-size: 2.5em;
}

#exhibit-image {
    padding: 1em;
    margin: 0.5em;
    float: left;
   /* height: 40em;
    width: 20em;*/
}

.resources {
    color: rgb(31, 28, 28);
    font-family: sans-serif;
}

.resource-title {
    font-size: 1.4em;
    color: rgb(190, 80, 36);
    font-weight: 600;
}

li {
    font-size: 1.2em;
}

#comment {
    color: darkred;
}

button {
    background:rgb(5, 5, 63);
    color: white;
} 
/*Button works now, I forgot the semi-colon.*/

.quote-headline {
    color: rgb(122, 21, 21);
}

.quote {
    font-family: sans-serif;
    font-style: italic;
    border: solid;
    font-size: 0.95em;
    background-color: rgb(140, 152, 163);
}

.quote:hover {
    background-color: rgb(164, 210, 224);
}
.grid-container {
    margin: 50px;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 60px;
}