/* the overall text body is wrapped in this tag*/
body {
    background:rgb(139, 195, 243);
}
/*the title is taken from the md metadata and wrapped in this tag. Every category (participant, spectator, organiser) gets a slightly different colour for their title */
.text-info {
    background-color: white;
    margin: 0.8em;
}
#title {
    color: rgb(5, 5, 197);
    padding: 20px;
    font-weight: 700;
    font-size: 2.5em;
}
/*this is for general paragraphs and the same for all categories*/
/*text elements*/
p {
    font-size: 1.1em;
    color: black;
    font-family: sans-serif;
}

.resources-title {
    font-size: 1.3em;
    color: rgb(40, 41, 88);
    font-weight: 600;
    font-family: sans-serif;
}
/*span elements*/
/*this is a span element that is used for in-line italics for sources that are referenced in the body*/
.source {
    font-style: italic;
}

.resources {
    padding-top: 0.4rem;
    padding-bottom: 0.4rem;
    margin: 0.8em;
}

.resources-list {
    font-size: 0.8em;
    color: black;
    font-family: sans-serif;
}