body {
    background: rgb(237,232,234);
}

/*reduce maximum image size and center image. Image is wrapped in a div-element, so the margin: auto property can be applied*/
#exhibit-image {
    -moz-text-size-adjust: auto;
    text-align: center;
    max-width: 85%;
    max-height: 85%;
    margin: auto;
}

h1 {
    font-family: sans-serif;
    font-weight: 700;
    color: rgb(0,61,0);
    padding: 2%;
}

#title {
    color: rgb(0,61,0);
    padding: 20px;
    font-weight: 700;
    font-size: 2.5em;
}

#guide-category {
    color: rgb(54,29,46);
    padding: 0%;
}

#category {
    color: rgb(0,102,0);
    padding: 0%;
    font-size: 2rem;
}

.infotext {
    background-color: rgb(241,241,249);
    padding: 2%;
}
p {
    font-size: 1.3rem;
    color: black;
    font-family: sans-serif;
}
/*span elements*/
/*this is a span element that is used for in-line italics for sources that are referenced in the body*/
#source {
    font-style: italic;
}

#quotetitle {
    color: maroon;
}

.resources {
    color: rgb(31, 28, 28);
    font-family: sans-serif;
}

.resource-title {
    font-size: 1.4em;
    color: rgb(0,102,0);
    font-weight: 600;
}

li {
    font-size: 1.2em;
}