<!--This layout defines what is presented on the top navigation bar items-->
<!DOCTYPE html>
    <hmtl>
        <div id="homescreen">
            {% include head-de.html %}</div>
    <link href="../assets/header.css" rel="stylesheet">
    <link href="../assets/home.css" rel="stylesheet">
    <link href="../assets/backbutton.css" rel="stylesheet">
    <link href="../assets/aboutpages.css" rel="stylesheet">
    <!--the meta tag ensures that the website content is scaled to device width-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
        <body>
    {{ content }}
    {% include enter-museum-de.html %}
    {% include footer.html %}
        </body>