<!--this layout defines the function of the three pathway landing pages, from where the collection content can be accessed-->
<!DOCTYPE html>
    <hmtl>
        <div id="homescreen">
            {% include head-de.html %}</div>
    <link href="../assets/header.css" rel="stylesheet">
    <link href="../assets/aboutpages.css" rel="stylesheet">
    <link href="../assets/backbutton.css" rel="stylesheet">
    <!--the meta tag ensures that the website content is scaled to device width-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{ content }}
    {% include backbutton-de.html %}
    {% include footer-de.html %}