<!-- same result as second option-->
{% assign groups = site.participant | group_by: "category" | sort: "name" %}
{% for group in groups %}
    {% include explorebytopic.html %}
{% endfor %}
<!--it displays the same for all object, not only just one object for which this is true -->
{% assign my_category = "equality" %}

{% for object in site.participant %}
    {% if my_category != true %}
        {% include explorebytopic.html %}
    {% endif %}
{% endfor %}
{% for object in site.organiser %}
    {% include explorebytopic2.html %}
{% endfor %}

{% include footer.html %}
