<!DOCTYPE html>
    <html>
        <!--the meta tag ensures that the website content is scaled to device width-->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <div id="homescreen">
            {% include head.html %}</div>
    <link href="../assets/header.css" rel="stylesheet">
    <link href="../assets/home.css" rel="stylesheet">
    <body>
        <div id="webpagetitle">{{ site.title}}</div>
            <main>{{ content }}
            {% include navigation.html %}</main>
        {% include footer.html %}